.Students {
    display: grid;
    height: 50%;
}
.Students ul{
    display: grid;
    grid-template-columns: 300px 300px;

}

.Students img {
    height: 150px;
    width: 150px;
}

.Students li {
    list-style: none;
    border: 1px solid green;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}